@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --admin-login-tab: #7AA1DD;
  --admin-login-text: #1B4E9E;
  --admin-login-btn: #E5E7EB;
  --admin-login-btn-hover: #2262C6;
  --Primary-base: #2262C6;
  --sidebar-buttom: #0A1C38;
  --sidebar-top: #1B4E9E;
  --Bg-main: #F4F5FA;
  --Primary-100: #D3E0F4;
  --Warning-3:#FFF2CC;
  --Warning-2:#FFC107;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('/fonts/IRANSansXFaNum-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IRANSansXFaNum', sans-serif;
}




/* styles/globals.css */
.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFD700; /* رنگ پس زمینه ایکون‌ها (مشابه عکس) */
  margin-right: 8px;
}

.icon-edit {
  fill: #000; /* رنگ ایکون ویرایش */
}

.icon-view {
  fill: #000; /* رنگ ایکون مشاهده */
}

.icon-delete {
  fill: #000; /* رنگ ایکون حذف */
}


